.popUp02 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000; }
  .popUp02 > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center; }
    .popUp02 > div > div {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: -webkit-flex;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      position: relative; }
      .popUp02 > div > div img {
        width: 100%; }
      .popUp02 > div > div span {
        position: absolute;
        font-size: 0.3rem;
        color: #075fa0;
        width: 80%;
        text-align: center;
        line-height: 0.5rem; }
      .popUp02 > div > div .button_1 {
        position: absolute;
        top: 70%;
        width: 40%;
        height: 22%; }

.share {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5); }
  .share > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center; }
    .share > div img {
      width: 95%;
      margin-top: -50%; }

.remind {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5); }
  .remind img {
    width: 100%; }
  .remind > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center; }
    .remind > div > div {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      position: relative; }
      .remind > div > div > div {
        position: absolute; }
      .remind > div > div .remindSure {
        width: 51%;
        height: 10%;
        top: 81%; }
      .remind > div > div .close {
        width: 12%;
        height: 11%;
        top: 2%;
        right: 0; }
      .remind > div > div .text {
        font-size: 0.3rem;
        color: #0d57a3;
        text-align: center; }
        .remind > div > div .text > div {
          margin-bottom: 0.2rem; }
        .remind > div > div .text > div:last-child {
          margin-bottom: 0; }
        .remind > div > div .text .text-2 {
          font-size: 0.58rem; }
        .remind > div > div .text .text-4 {
          letter-spacing: 0.2rem; }

#music {
  position: fixed;
  top: 0.4rem;
  right: 0.3rem;
  width: 32px;
  height: 32px;
  z-index: 10000; }

body {
  width: 100%;
  height: 100%;
  position: fixed; }

.ani01 {
  -webkit-animation: animate_product 1.5s infinite;
  -o-animation: animate_product 1.5s infinite;
  animation: animate_product 1.5s infinite; }

.ani02 {
  -webkit-animation: animate_gift02 1.5s infinite alternate;
  -o-animation: animate_gift02 1.5s infinite alternate;
  animation: animate_gift02 1.5s infinite alternate; }

.ani02_1 {
  -webkit-animation: animate_gift02 1.5s infinite alternate;
  -o-animation: animate_gift02 1.5s infinite alternate;
  animation: animate_gift02 1.5s infinite alternate; }

.ani03 {
  -webkit-animation: animate_balloon01 8s infinite linear;
  -o-animation: animate_balloon01 8s infinite linear;
  animation: animate_balloon01 8s infinite linear; }

.ani03_1 {
  -webkit-animation: animate_balloon02 7s infinite linear;
  -o-animation: animate_balloon02 7s infinite linear;
  animation: animate_balloon02 7s infinite linear; }

.move01 {
  -webkit-animation: move01 0.6s infinite alternate linear;
  -o-animation: move01 0.6s infinite alternate linear;
  animation: move01 0.6s infinite alternate linear; }

@keyframes animate_product {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -ms-transform: translateX(3px);
    -o-transform: translateX(3px);
    transform: translateX(3px); }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); } }
@keyframes animate_gift02 {
  from {
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -o-transform: rotateZ(5deg);
    transform: rotateZ(5deg); }
  to {
    -webkit-transform: rotateZ(-15deg);
    -moz-transform: rotateZ(-15deg);
    -ms-transform: rotateZ(-15deg);
    -o-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg); } }
@keyframes animate_balloon01 {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
    -moz-transform: translateY(0px) translateX(0px);
    -ms-transform: translateY(0px) translateX(0px);
    -o-transform: translateY(0px) translateX(0px);
    transform: translateY(0px) translateX(0px); }
  100% {
    -webkit-transform: translateY(-1000px) translateX(-450px);
    -moz-transform: translateY(-1000px) translateX(-450px);
    -ms-transform: translateY(-1000px) translateX(-450px);
    -o-transform: translateY(-1000px) translateX(-450px);
    transform: translateY(-1000px) translateX(-450px); } }
@keyframes animate_balloon02 {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
    -moz-transform: translateY(0px) translateX(0px);
    -ms-transform: translateY(0px) translateX(0px);
    -o-transform: translateY(0px) translateX(0px);
    transform: translateY(0px) translateX(0px); }
  100% {
    -webkit-transform: translateY(-900px) translateX(500px);
    -moz-transform: translateY(-900px) translateX(500px);
    -ms-transform: translateY(-900px) translateX(500px);
    -o-transform: translateY(-900px) translateX(500px);
    transform: translateY(-900px) translateX(500px); } }
@keyframes move01 {
  from {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px); }
  to {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px); } }

/*# sourceMappingURL=public.css.map */
