<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>首页</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/ydui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/css/swiper.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/index.css?v=1">
    <link rel="stylesheet" href="css/bemzj_css.css">
    <script src="js/rem.js"></script>
    <script src="js/tools.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/free.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.min.js"></script>
</head>
<body>
<audio src="music/music01.mp3" hidden="hidden" preload loop="loop"  id="bg"></audio>
<!--<img src="img/music.png" id="music" />-->
<div id="app">
    <div id="loading" v-if="status == 0">
        <div>
            <div class="logo">
                <img src="img/logo01.png" alt="" class="animated bounceIn">
            </div>
            <div class="list2">
                <div>
                    <div class="line01"></div>
                    <div class="circle01">
                        <div v-for="(item,index) in 14" :key="index" :class="{circle_sel:index<classNum01}"></div>
                    </div>
                </div>
            </div>
            <div class="list3">
                <input type="text" v-model="num01" disabled>
            </div>
        </div>
    </div>
    <!--首页-->
    <div id="index" v-if="status == 1 && shop_type == 0">
        <div class="list1">
            <div class="logo01">
                <img src="img/logo01.png" alt="">
            </div>
            <div class="logo02">
                <img src="img/logo02.png" alt="">
            </div>
        </div>
        <div class="list2" style="">
            <div>
                <div class="balloon01 ani03">
                    <img src="img/balloon01.png" alt="" class="ani02">
                </div>
                <div class="balloon01 ani03 delay_3" style="left: 50%;">
                    <img src="img/balloon01.png" alt="" class="ani02">
                </div>
                <div class="balloon02 ani03_1">
                    <img src="img/balloon02.png" alt="" class="ani02">
                </div>
                <div class="gift02">
                    <img src="img/gift02.png" alt="">
                </div>
                <div class="product01 ani01">
                    <img src="img/product01.png" alt="">
                </div>
            </div>
        </div>
        <div class="list3">
            <div>
                <div v-for="(item,index) in btns" :key="index" class="animated" :class="item.class">
                    <img :src="item.img" alt="" class="img" @click="btn(index)">
                </div>
            </div>
        </div>
    </div>
    <!--内页-->
    <!--至尊购-->
    <div id="index_1" v-if="status == 1 && shop_type == 1">
        index1
        <!--内页模块-->
        <div v-if="subPage == 0" style="width: 1rem;height: 1rem;background: red"></div>
    </div>
    <!--超值购-->
    <div id="index_2" v-if="status == 1 && shop_type == 2">
        <!--弹窗-->
        <!--活动规则-->
        <div class="popUp01" v-if="popUp01 == 1">
            <div>
                <div class="wrap">
                    <img src="img/bj05.png" alt="">
                    <div class="close">
                        <img src="img/close01.png" alt="" class="img" @click="close">
                    </div>
                    <div class="title01">
                        <img src="img/popTitle01.png" alt="">
                    </div>
                    <div class="cont01">
                        <img src="img/cont01.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--抢购失败-->
        <div class="popUp01" v-if="popUp01 == 2">
            <div>
                <div class="wrap">
                    <img src="img/bj05.png" alt="">
                    <div class="close">
                        <img src="img/close01.png" alt="" class="img" @click="close">
                    </div>
                    <div class="title01">
                        <img src="img/popTitle02.png" alt="">
                    </div>
                    <div class="cont01">
                        <img src="img/img02.png" alt="" style="width: 80%;margin-bottom: 0.8rem;">
                        <div class="button08" style="width: 65%;">
                            <img src="img/button08.png" alt="" class="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--抢购成功-->
        <div class="popUp01" v-if="popUp01 == 3">
            <div>
                <div class="wrap">
                    <img src="img/bj05.png" alt="">
                    <div class="close">
                        <img src="img/close01.png" alt="" class="img" @click="close">
                    </div>
                    <div class="title01">
                        <img src="img/popTitle03.png" alt="">
                    </div>
                    <div class="cont01">
                        <img src="img/img03.png" alt="" style="width: 50%;margin-bottom: 0.2rem">
                        <div class="font01">
                            <div>目前仅剩XXX张超值券！</div>
                            <div>赶紧抓紧时间抢了！</div>
                        </div>
                        <div class="button08" style="width: 65%;">
                            <img src="img/button09.png" alt="" class="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--购买协议-->
        <div class="popUp01" v-if="popUp01 == 4">
                <div>
                    <div class="wrap">
                        <img src="img/bj05.png" alt="">
                        <div class="close">
                            <img src="img/close01.png" alt="" class="img" @click="close">
                        </div>
                        <div class="title01">
                            <img src="img/popTitle05.png" alt="">
                        </div>
                        <div class="cont01" style="top: 17%;">
                            <div class="c1">
                                <p>超值券的使用规则请仔细参照本活动首页<span @click="navTo">“活动规则”</span>，除超值券本身不能正常使用外，一经购买，一律不予退款。（例如超值券逾期未使用、消费者操作流程失误，此类情况属消费者个人失误行为，不予退款）</p>
                            </div>
                            <div class="c2" @click="agrees = !agrees">
                                <div class="select01" :class="{select01_sel:agrees}"></div>
                                <div class="select01-cont">
                                    <p>点击确定购买并付款即视为您已同意并了解以上条款，并已清楚了解活动规则。</p>
                                </div>
                            </div>
                            <div class="button08" style="width: 65%;" v-if="agrees">
                                <img src="img/button10.png" alt="" class="img" @click="btn01">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--页面-->
        <!--内页首页-->
        <div class="i-1" v-if="subPage == 0">
            <div class="return"><img src="img/return.png" alt="" class="img"></div>
            <div class="list2">
                <div class="swiper-container swiper01">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/product03.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/product03.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/product03.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination pagin01"></div>
                </div>
            </div>
            <div class="zhiyin move01"><img src="img/img01.png" alt=""></div>
            <div class="button07"><img src="img/button07.png" alt="" class="img" @click="i1Btn01"></div>
        </div>
        <!--填写信息-->
        <div class="i-2" v-if="subPage == 1">
            <div class="return"><img src="img/return.png" alt="" class="img"></div>
            <div class="logo01">
                <img src="img/logo01.png" alt="">
            </div>
            <div class="messageWrap">
                <img src="img/bj06.png" alt="">
                <div>
                    <div class="mesTitle">
                        <img src="img/popTitle04.png" alt="">
                    </div>
                    <div class="mesList">
                        <div>
                            <img src="img/img04.png" alt="">
                            <div class="list01">
                                <ul>
                                    <li>
                                        <span>姓名：</span><input type="text" placeholder="请输入您的姓名">
                                    </li>
                                    <li>
                                        <span>电话：</span><input type="text" placeholder="请输入11位手机号码">
                                    </li>
                                    <li class="city">
                                        <span>城市：</span><input type="text" id="acity" placeholder="请选择省、市、区">
                                    </li>
                                    <li class="address">
                                        <span>具体地址：</span><textarea placeholder="请输具体的街道地址"></textarea>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="button07">
                        <img src="img/button07_1.png" alt="" class="img">
                    </div>
                </div>
            </div>
        </div>
        <!--抢购成功-->
        <div class="i-3" v-if="subPage == 2">
            <div class="img01">
                <img src="img/img05.png" alt="">
            </div>
            <a href="https://haotaitai.hengdikeji.com/htt/map.html" class="button11">
                <img src="img/button11.png" alt="">
            </a>
        </div>
    </div>
    <!--换新购-->
    <div id="index_3" v-if="status == 1 && shop_type == 3">
        index3
    </div>
    <!--免费购-->
    <div id="index_4" v-if="status == 1 && shop_type == 4">
        <!--活动规则页面-->
        <div class="freePop01 winFlex" v-if="freePopStatus == 0">
            <div class="ruleBox animated bounceInDown">
                <img src="img/freeRule.png"/>
                <div class="ruleBoxIn">
                    <div class="clearRules">
                        <button @click="freePopStatus = -1"></button>
                    </div>
                    <div class="ruleContent">
                        <div class="rcBox" v-for="(items,index) in rules[3]">
                            <div class="rcTitle">
                                <p>{{items.title}}</p>
                            </div>
                            <div class="rcDetails">
                                <div v-for="(its,i) in items.content">
                                    <p>{{its}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--页面-->
        <!--内页首页-->
        <div class="i-1" v-if="freeIndex == 0">
            <div class="return" ><img @click="shop_type = 0" src="img/return.png" alt="" class="img"></div>
            <div class="list2">
                <div class="list2Top">
                    <img src="img/free01.png"/>
                </div>
                <div class="list2Mottom winFlex" id="list2Mottom">
                    <div class="zhiyin move01"><img src="img/img01.png" alt=""></div>
                    <div class="button07"><img src="img/free04.png" alt="" class="img" @click="freeBook"></div>
                </div>
                <div class="list2Bottom">
                    <img src="img/free02.png"/>
                </div>
            </div>
        </div>
        <!--填写地址-->
        <div class="freeAddress" v-if="freeIndex == 1">
            <div class="return" ><img @click="freeIndex = 0" src="img/return.png" alt="" class="img"></div>
            <div class="fLogo"><img src="img/logo01.png"/> </div>
            <div class="freeAddressIn">
                 <img src="img/freeAddressBack.png"/>
                <div class="freeFrom">
                    <!--<form>-->
                        <input type="text" class="finput1" placeholder="请输入您姓名"/>
                        <input type="text" class="finput2" placeholder="请输入11位手机号码"/>
                        <input type="text" id="freeCity" class="finput3" placeholder="请选择"/>
                        <textarea placeholder="请输具体的街道地址" class="ftext1"></textarea>
                        <input type="text" class="finput5" placeholder="请输入原品牌"/>
                        <input type="text" class="finput6" placeholder="请输入型号"/>
                        <input type="text" class="finput7" placeholder="请输入型号" :value="yearLimit" disabled/>
                        <select v-model="yearLimit">
                            <option v-for="(item,index) in 11">{{item+1}}年</option>
                        </select>
                        <textarea placeholder="您还可以输入200个字" class="ftext2"></textarea>
                        <div class="fImgUp">
                            <div v-for="(item,index) in fImgList">
                                <div class="fdelImg" v-if="item.img!=''" @click="fdelImg(index)">
                                    <img src="img/freeClose.png"/>
                                </div>
                                <div class="freeInput" v-if="item.img==''">
                                    <input   :id="'file'+index" type="file" accept="image/*" capture="camera"/>
                                </div>
                                <div class="fImgBox" v-if="item.img!=''"  >
                                    <img :src="item.img" @click="showBImg(item.img)"/>
                                </div>
                            </div>
                        </div>
                        <div class="freeSubmit">
                            <button></button>
                        </div>
                    <!--</form>-->
                </div>
            </div>
        </div>
        <!--评价-->
        <div class="compented" v-if="freeIndex == 2">
            <div class="return" ><img @click="freeIndex = 0" src="img/return.png" alt="" class="img"></div>
            <div class="fLogo"><img src="img/logo01.png"/> </div>
            <div class="compentedIn">
                <img src="img/compent1.png"/>

                <div class="compentedFrom">
                    <div class="serveCmm proCmm">
                        <div v-for="(items,index) in 5" :class="{hasStar:index<=freeComment.produce}" @click="fproCmm(index)"></div>
                    </div>
                    <div class="serveCmm">
                        <div v-for="(items,index) in 5" :class="{hasStar:index<=freeComment.serve}" @click="fserCmm(index)"></div>
                    </div>
                    <textarea placeholder="您还可以输入200个字"></textarea>
                    <div class="fImgUp">
                        <div v-for="(item,index) in freeComment.fcImg">
                            <div class="fdelImg" v-if="item.img!=''" @click="fcdelImg(index)">
                                <img src="img/freeClose.png"/>
                            </div>
                            <div class="freeInput" v-if="item.img==''">
                                <input   :id="'fileCom'+index" type="file" accept="image/*" capture="camera"/>
                            </div>
                            <div class="fImgBox" v-if="item.img!=''"  >
                                <img :src="item.img" @click="showBImg(item.img)"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--活动规则-->
    <div id="index_5" v-if="ruleShow" class="winFlex">
        <div class="ruleBox animated bounceInDown">
            <img :src="ruleBack[ruleIndex]"/>
            <div class="ruleBoxIn">
                <div class="clearRules">
                    <button @click="closeRule"></button>
                </div>
                <div class="fourBtn">
                    <button v-for="(items,index) in 4" @click = "ruleIndex = index"></button>
                </div>
                <div class="ruleContent">
                    <div class="rcBox" v-for="(items,index) in rules[ruleIndex]">
                        <div class="rcTitle">
                            <p>{{items.title}}</p>
                        </div>
                        <div class="rcDetails">
                            <div v-for="(its,i) in items.content">
                                <p>{{its}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="js/public.js"></script>
<script src="js/loding.js"></script>
<script src="js/ydui.citys.js"></script>
<script src="js/ydui.js"></script>
<script>
    var App = new Vue({
        el:'#app',
        data:{
            //状态控制
            status:1, //页面状态：0-加载页面、1-首页
            shop_type:4,//购物类型状态: 0-首页、1-至尊购、2-超值购、3-换新购、4-免费购、5-活动规则
            subPage:0,//内页流程步骤控制：
            aa:true,
            //加载页参数：
            num01:'0%',
            classNum01:0,
            //首页参数
            btns:[
                {class:'button01 rotateInDownLeft',img:'img/button01.png'},
                {class:'button02 rotateInDownRight',img:'img/button02.png'},
                {class:'button03 rotateInUpLeft',img:'img/button03.png'},
                {class:'button04 rotateInUpRight',img:'img/button04.png'},
                {class:'button05 bounceIn',img:'img/button05.png'}
            ],
            //超值购弹窗
            popUp01:0,//0:不显示任何弹窗
            // 超值购购买协议同意状态
            agrees:false,
            //规则背景图
            ruleBack:['img/allrule1.png','img/allrule2.png','img/allrule3.png','img/allrule4.png'],
            ruleShow:false, //是否显示规则
            ruleIndex:0, //当前规则表示 0-至尊购、1-超值购、2-换新购、3-免费购
            //规则详情
            rules:[
                [
                    {
                        title:'01预约',
                        content: [
                            "(1)成功预约的用户有机会获得以9999元抢购价值18888元的神级晾晒神器至尊体验权的特权。",
                            "(2)预约截止时间：7月18日零点，订金金额为99元，预约名额有限，先到先得。",
                            "(3)每个用户限预约一次；已预约但中途申请退款的不能再次预约。",
                            "(4)请填写正确的地址，抢购成功后，会根据所填地址，就近原则安排上门安装，若因地址填写有误，导致产生远程送货费用的，费用由用户自行承担。",
                            "(5)请填写正确的联系电话，提交预约后，好太太集团会安排工作人员联系用户核实信息，若因电话有误，导致信息无法核实的，好太太集团有权取消其参与资格。",
                            "(6)未抢购成功的用户，在活动结束后，会按原付款路径退回订金。"
                        ]
                    },
                    {
                        title:'02尾款支付',
                        content: [
                            "(1)7月19日会在好太太公众号公布获得特权的名单；并且会在本活动H5上更新用户的参与状态。",
                            "(2)用户可以在公众号或再次打开本活动H5查看是否获得特权。",
                            "(3)获得特权的用户需在规定时间内完成付款，否则好太太集团有权取消其参与资格。",
                            "(4)尾款支付成功后，5个工作日内，会有工作人员联系用户，确认上门安装事宜。"
                        ]
                    },
                    {
                        title:'03退款',
                        content: [
                            "(1)订金退款：未付尾款前，用户可以申请退回订金，再次点击“至尊购-退款申请”进行申请退款，退款会在20个工作日内退回。",
                            "(2)未获得特权的用户所交订金，若用户未主动申请退款，在活动结束后，会由好太太集团统一安排退回。",
                            "(3)退货退款：已安排上门安装，但未实际安装之前，用户可以在线申请退货退款；若已安装，非质量问题不退不换。",
                            "(4)上述所有退款，都会按用户原支付路径退回。"
                        ]
                    },
                    {
                        title:'04其它',
                        content: [
                            "(4)发票：需要开发票，可以前往 “至尊购-开发票”填写开票信息。"
                        ]
                    }
                ],
                [
                    {
                        title:'',
                        content:[
                            "(1)用户在线购买超值券，凭券可以用超值价在实体门店购买指定型号；全国限量10000张。",
                            "(2)可购买型号：GW-1211（超值价1288元）、GW-1362（超值价1688元）、GW-1572（超值价2488元）",
                            "(3)每个用户限购一张超值券。",
                            "(4)每张超值券仅限用于购买一台晾衣机。",
                            "(5)使用截止日期：2018年7月31日"
                        ]
                    }
                ],
                [
                    {
                        title:'',
                        content:[
                            "(1)用户在线购买换新抵用券，凭券到实体门店购买指定型号（具体型号由门店而定）可以减免200元；全国限量50000张。",
                            "(2)每个用户限购一张换新抵用券。",
                            "(3)每张焕新抵用券仅限用于购买一台晾衣机。",
                            "(4)使用截止日期：2018年7月31日"
                        ]
                    }
                ],
                [
                    {
                        title:'',
                        content:[
                            "(1)活动发布日起至7月18日零点，用户可以提交第三代智能晾衣机GW-1212的体验申请。",
                            "(2)好太太集团官方根据所交资料选择客户参与体验活动，全国限量1000个名额。",
                            "(3)7月19日，会在好太太公众号公布获得特权的名单；并且会在本活动H5上更新用户的参与状态。用户可以在公众号或再次打开本活动H5查看是否获得体验资格。",
                            "(4)免费体验的晾衣机不含送货安装，全国统一收取399元/台作为送货安装费用。",
                            "(5)请填写正确的地址，申请成功后，会根据所填地址，就近原则安排上门安装，若因地址填写有误，导致产生远程送货费用的，费用由用户自行承担。",
                            "(6)请填写正确的联系电话，申请成功后，好太太集团会安排工作人员联系用户核实信息，若因电话有误，导致信息无法核实的，好太太集团有权取消其参与资格。",
                            "(7)获得体验权的用户需在规定时间内完成送货安装费付款，否则好太太集团有权取消其参与资格。",
                            "(8)支付成功后，5个工作日内，会有工作人员联系用户，确认上门安装事宜。",
                            "(9)安装结束后客户需要再次点击“免费购”上传安装效果图。",
                            "(10)发票：需要开发票，可以前往 “免费购-开发票”填写开票信息。",
                            "(11)每个用户限申请一次。"
                        ]
                    }
                ],

            ],
            //免费购
            freePopStatus:-1,//0规则弹窗
            freeIndex:2, //免费页面显示
            yearLimit:"",//年限
            fImgList:[{'img':''},{'img':''},{'img':''}],//图片数据
            //免费评价的数据
            freeComment:{
                serve:-1,
                produce:-1,
                fcImg:[{'img':''},{'img':''},{'img':''}]
            }
        },
        methods:{
            //关闭规则页面（免费购）
            closeRule(){
                this.ruleShow = false;
            },
            //关闭规则页面（免费购）
            closeRule(){
                this.ruleShow = false;
            },
            //显示大图（免费购）
            showBImg(src){
                showBigImg(src);
            },
            //删除图片
            fdelImg(index){
                var self = this;
                this.fImgList[index].img = '';
                setTimeout(function(){
                    upImg('file'+index,index,self.fImgList);
                },500);
            },
            //删除图片
            fcdelImg(index){
                var self = this;
                this.freeComment.fcImg[index].img = '';
                setTimeout(function(){
                    upImg('fileCom'+index,index,self.freeComment.fcImg);
                },500);
            },
            //产片评价
            fproCmm(index){
                this.freeComment.produce = index;
            },
            //服务评价
            fserCmm(index){
                this.freeComment.serve = index;
            },
            //我要预约（免费购）
            freeBook(){
                var self = this;
                this.fImgList = [{'img':''},{'img':''},{'img':''}];
                this.freeIndex = 1;
                setTimeout(function(){
                    for(var i=0; i<self.fImgList.length; i++)
                    {
                        upImg('file'+i,i,self.fImgList)

                    }
                },500);
            },
           // 首页方法：
           btn(index){
              if(index == 0){
                  this.shop_type = 1
              }else if(index == 1){
                  this.shop_type = 2
              }else if(index == 2){
                  this.shop_type = 3
              }else if(index == 3){
                  var self = this;
                  this.shop_type = 4
                  this.freePopStatus = 0;
                  //设置首页中心高度
                  var hTween = setTimeout(function(){
                      var h1 = $('#index_4 .i-1 .list2 .list2Top img').height();
                      var h2 =  $('#index_4 .i-1 .list2 .list2Bottom').height()
                      var h = $(window).height()-h1-h2;
                      $('#index_4 .i-1 .list2 .list2Mottom').height(h);
                  },100);

                  //免费购

              }else{
                  this.ruleShow = true;
                  console.log(1);
              }
           },
            close(){
               this.popUp01 = 0
            },
            i1Btn01(){
               this.popUp01 = 1
            },
            // 超值购弹窗按钮
            btn01(){
               if(this.popUp01 == 4){
                   this.popUp01 = 0
               }
            },
            // 超值购购买协议活动规则跳转
            navTo(){
              this.popUp01 = 1
            }
        },
        updated(){

            //////////////////////////////////////////////////////////////
            $('.img').click(function () {
                return false
            });
                var swiper1 = new Swiper('.swiper01',{
                    pagination:{
                        el:'.pagin01',
                        type:'bullets',
                    }
                })
            //选择省市区
            !function () {
                var $target = $('#acity');

                $target.citySelect();

                $target.on('click', function (event) {
                    event.stopPropagation();
                    $target.citySelect('open');
                });

                $target.on('done.ydui.cityselect', function (ret) {
                    $(this).val(ret.provance + ' ' + ret.city + ' ' + ret.area);
                });
            }();
            $('#acity').focusin(function () {
                $(this).blur();
            })
            //免费购 3级联动
            !function () {
                var $target = $('#freeCity');

                $target.citySelect();

                $target.on('click', function (event) {
                    event.stopPropagation();
                    $target.citySelect('open');
                });

                $target.on('done.ydui.cityselect', function (ret) {
                    $(this).val(ret.provance + ' ' + ret.city + ' ' + ret.area);
                });
            }();
            $('#freeCity').focusin(function () {
                $(this).blur();
            })
        },
        mounted:function () {
            const that = this;
            var swiper1 = new Swiper('.swiper-container',{

            });
            //加载完后进入首页
            setTimeout(function () {
                load(imgList,that)
            },100);

            setTimeout(function(){
                for(var i=0; i<that.freeComment.fcImg.length; i++)
                {
                    upImg('fileCom'+i,i,that.freeComment.fcImg)

                }
            },500);
        }
    })
</script>
</body>
</html>